@font-face {
    font-family: NHD;
    src: url(./assets/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: FBPL;
    src: url(./assets/Freight\ Big\ Pro\ Light\ Italic.otf);
}

@font-face {
    font-family: NHDL;
    src: url(./assets/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: NHDM;
    src: url(./assets/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: NHDT;
    src: url(./assets/NeueHaasDisplayThin.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "freight big pro";
}

html, body {
    height: 100%;
    width: 100%;
}

.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page1{
    /* height: 100vh; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loader {
    background-color: rgba(0, 0, 0, 0.022);
    color: #ffffff;
    position: fixed;
    z-index: 10;
    /* display: none; */
}


.loader video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 7;
}


.loader h1{
    position: relative;
    z-index: 8;
}

.yellow{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f5e31b;
    z-index: 10;
}


nav{
    width: 100%;
    position: absolute;
    z-index: 9;
    padding: 2vw 3vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* background-color: red; */
    gap: 3vw;
    padding: 1rem 1rem;
    position: relative;
}

.nav-links>div a{
    font-size: 1rem;
    font-family: NHD;
    font-weight: 500;
    /* text-decoration: none; */
    color: white;
}

.nav-links .icon{
    width: 2.5vw;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* background-color: rgb(4, 254, 254); */
}
.nav-link{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
}


.nav-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px; /* Adjust this value for spacing between text and underline */
    width: 100%;
    height: .5px; /* Adjust the thickness of the underline */
    background-color: rgb(255, 255, 255); /* Color of the underline */
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.black-text {
    color: black;
  }
  

.link1 {
    position: absolute;
    /* background-color: lightblue; */
    top: 30%;
    left: 30%;
  }

  .link2 {
    position: absolute;
    /* background-color: bisque; */
    transition: background-color 0.3s ease;
    top: 30%;
    left: 50%;
  }

  .link3 {
    position: absolute;
    /* background-color: aquamarine; */
    transition: background-color 0.3s ease;
    top: 30%;
    left: 70%;
  }

  .link4 {
    position: absolute;
    /* background-color: #F5E41B; */
    transition: background-color 0.3s ease;
    padding: 0 3vw;
    top: 0%;
    left: 90%;
  }

.page1 {
    background-color: #000000;
    /* flex-direction: column; */
}

.page1 {
    
    width: 100%;
    height: 100vh;
    padding: 7vw 5vw;
    position: relative;
}

/* .loader h1, .page1 h1 {
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -3px;
    transition: all ease-in .1s;

} */

/* .page1 h1{
    margin-top: 23vh;
} */
section{
    /* margin-top: 20vh; */
    /* padding: 0 5vw; */
    /* width: 100%; */
    height: 95%;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    z-index: 10;
}

section>span a{
    font-family: NHD;
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
}

.arrowUp{
    cursor: pointer;
}



.page3 {
    min-height: 100vh;
    padding: 20vh 5vw;
    width: 100%;
    background-color: #000000;
}

.page3-sec{
    width: 100%;
    height: 100vh;
    position: fixed;
     top: -10%;
    /*left: 0; */
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

h1{
    color: #f5e31b;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 100;
    letter-spacing: 1px;
    /* font-family: ; */
    /* position: absolute; */
    /* z-index: 500; */
    /* top: 20%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    opacity: 0;
    pointer-events: none;
    transition: all ease-in .5s;
}


.image-container{
   
    display: flex;
    gap: 7vw;
    
}
.column{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.image-div{
    width: 25vw;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease-in .3s;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.066);
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    /* filter: blur(5px); */
    transition: all ease-in .2s;
}

/* .overlay p{
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 2.5vw;
    opacity: 0;
    transition: all ease-in .2s;

} */

.image-div:hover img{
    filter: blur(4px);
}

.image-div:hover .overlay{
    background-color: rgba(0, 0, 0, 0.238);
}

/* .image-div:hover .overlay p{
    opacity: 1;
} */

.image-div:hover img{
    scale: .9;
}




footer{
    height: 15vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 2.5rem;
}

footer h2{
    font-family: NHDL;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5vw;
    cursor: pointer;
}

footer .foot{
    font-family: NHDL;
    font-weight: 100;
    margin-bottom: 1.5vw;
    height: 50%;
    width: 100%;
    background-color: black;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-links{
    width: 100%;
    margin: 0vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link1{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav-link1::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px; /* Adjust this value for spacing between text and underline */
    width: 100%;
    height: .5px; /* Adjust the thickness of the underline */
    background-color: #ffffff; /* Color of the underline */
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nav-link1:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.extra{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.foot>.foot-links>p>a{
    font-family: NHDL;
    font-weight: 100;
    font-size: 1.5vw;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;

}

.extra>p>a{
    font-family: NHDL;
    font-weight: 100;
    font-size: 1.5vw;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;

}