@font-face {
    font-family: NHD;
    src: url(./assets/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "freight big pro";
}

html, body {
    height: 100%;
    width: 100%;
}

.loader, .page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loader {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    position: fixed;
    /* z-index: 10; */
}


.loader video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 7;
}


.loader h1{
    position: relative;
    z-index: 8;
}

.yellow{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f5e31b;
    z-index: 10;
}


nav{
    width: 100%;
    position: absolute;
    z-index: 9;
    padding: 10px 50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 1rem 1.5rem;
}

.nav-links>div a{
    font-size: 1rem;
    font-family: NHD;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.nav-links .icon{
    width: 3vw;
}

.page1 {
    background-color: #F5E41B;
    flex-direction: column;
}

.loader h1, .page1 h1 {
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -3px;
    transition: all ease-in .1s;

}

.page1 h1{
    margin-top: 23vh;
}
section{
    margin-top: 20vh;
    padding: 0 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section>span a{
    font-family: NHD;
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
}

.page2 {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.page3 {
    height: 100vh;
    width: 100%;
}
